[submodule "samples/jhipster-sample-app"]
	path = samples/jhipster-sample-app
	url = https://github.com/jhipster/jhipster-sample-app.git
[submodule "samples/jhipster-sample-app-gradle"]
	path = samples/jhipster-sample-app-gradle
	url = https://github.com/jhipster/jhipster-sample-app-gradle.git
